*,
*::after,
*::before{
    /*by selecting the psudo elements we keep things from getting cattywompus*/
    margin: 0;
    padding: 0;
    /* The width and height properties (and max/min properties) 
    includes content, padding & border */
    box-sizing: inherit;
    /* this forces everything inside to take it's parents box-sizing */
}

html {
    /* font-size: 10px; */
    /*why are we doing this? to set a root font-size.
    why 10px? because then 1rem = 10px - it's just easier to calculate */

    font-size: 62.5%;
    /* why this number? default font-size is 16px 
    but we want the root font size value to be equel to 10px
    so... 10/16 =.625 = 62.5% */
    /* NOW we're changing from px value, becuse px removes the availibility for 
    those with bad eye sight to change the defaule font-size */
    /* REMs ARE NOT SUPPORTED BELOW EX 9! YOUR SITE WILL NOT WORK */
    box-sizing: border-box;
}
